* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-image: radial-gradient(circle at 0 0, #f30, #0000 50vmax), radial-gradient(circle at 100% 100%, #380, #000 50vmax);
    filter: contrast(3);

}